@model BusinessLogicLayer.RoleBLL

@{
    ViewBag.Title = "Detailed Details";
}

<h1>Details</h1>

<div>
    <h4>Role</h4>
    <hr />
    <dl class="jumbotron dl-horizontal ">
        <dt>
            @Html.DisplayNameFor(model => model.RoleID)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.RoleID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>
            
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.RoleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
